<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''
const { path } = _.route
console.log(path)
%>


<footer class="footer <%= path !== '/' ? 'not-home ' : '' %>py-3 py-lg-4 py-xl-5">
  <section id="marketing-footer">
    <div class="container">
      <div class="html-clearfix">
          <div class="video">
              <div class="row">
                 <div class="col-12 col-md-7">
                    <div class="content">
                       <div class="r-35000-parent">
                          <div class="nc-extreme">NC Extreme ®️</div>
                          <div class="instinto-de-superao-container">
                             <p class="grtis">INSTINTO DE</p>
                             <p class="grtis">SUPERAÇÃO</p>
                          </div>
                       </div>
                       <div class="ganhe-10-de-desconto-em-sua-1-parent">
                          <div class="nc-extreme"><span>Ganhe 10% de desconto </span><span class="em-sua-1">em sua 1º compra!</span></div>
                          <div class="search-parent">
                             <div class="search">
                                <form class="form"><input id="nome-email" class="form-control" placeholder="NOME"></form>
                             </div>
                             <div class="search">
                                <form class="form1"><img class="mail-icon" alt="" src="/img/uploads/mail.svg"><input id="email-form" class="form-control" placeholder="     Digite seu e-mail"></form>
                             </div>
                             <div class="button16">
                                <div class="button17">
                                   <div class="text10">ENVIAR</div>
                                   <img class="bag-shop-icon" alt="" src="/img/uploads/chevronright1.svg">
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-12 col-md-5">
                    <div class="video-item"></div>
                 </div>
              </div>
          </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 order-<%= themeCustom === 'ecom-beauty' ? '' : 'lg-'%>last pl-xl-4">
        <div class="footer__contacts">
          <% if (footer.contacts.title) { %>
            <div class="footer__title">
              <%= footer.contacts.title %>
            </div>
          <% } %>

          <ul class="list-unstyled">
            <% if (footer.contacts.phone_wpp) { %>
              <% if (contacts.whatsapp) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="i-whatsapp"></i>
                  </span>
                  <a
                    href="javascript:;"
                    target="_blank"
                    rel="noopener"
                    class="whatsapp-link"
                    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                  >
                    <%= contacts.whatsapp %>
                  </a>
                </li>
              <% } %>
              <% if (contacts.phone) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="i-phone"></i>
                  </span>
                  <a
                    href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                    target="_blank"
                    rel="noopener"
                  >
                    <%= contacts.phone %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <% if (footer.contacts.email) { %>
              <li>
                <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                  <%= contacts.email %>
                </a>
              </li>
            <% } %>
            <% if (footer.contacts.address) { %>
              <li class="d-flex">
                <address>
                  <%= contacts.address %>
                </address>
              </li>
            <% } %>
          </ul>
        </div>
      </div>

      <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
        <div class="col-12 col-md-3 px-xl-4 order-first">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-pages"
            role="button"
            aria-expanded="false"
            aria-controls="footer-pages"
          >
            <%= footer.links_1.title || _.dictionary('pages') %>
          </a>
          <div class="collapse" id="footer-pages">
            <% if (footer.links_1.list_pages) { %>
              <ul class="footer__links">
                <% (_.cms('pages') || []).forEach(slug => { %>
                  <% const { title } = _.cms(`pages/${slug}`) %>
                  <li>
                    <a href="/pages/<%= slug %>">
                      <%= title %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_1.list.forEach(({ url, text }) => { %>
                  <li>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>

      <div class="col-12 col-md-3 order-second">
        <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-ajuda"
            role="button"
            aria-expanded="false"
            aria-controls="footer-ajuda"
          >
            AJUDA E SUPORTE
        </a>
        <div class="collapse" id="footer-ajuda">
          <ul class="footer__links">
            <li>
              <a href="/app/#/account/account">
                Minha Conta
              </a>
            </li>
            <li>
              <a href="/app/#/account/orders">
                Meus Pedidos
              </a>
            </li>
            <li>
              <a href="/pages/contato">
                Fale Conosco
              </a>
            </li>
            <li>
              <a href="/pages/faq">
                Dúvidas Frequentes
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="col-12 col-md-3 order-last">
        <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-socials"
            role="button"
            aria-expanded="false"
            aria-controls="footer-ajuda"
          >
            SIGA-NOS
        </a>
        <div class="collapse" id="footer-socials">
          <% if (footer.contacts.socials) { %>
            <p class="footer__social">
              <%- await include('@/layout/inc/networks', { _, contacts }) %>
            </p>
          <% } %>
        </div>
      </div>
    </div>
    <div class="row" id="list-categories">
      <% if (footer.links_2.list_categories) { %>
        <% _.categories.forEach(({ name, slug, parent }) => { %>
          <% if (!parent) { %>
            <div class="col-12 col-md-2">
              <a
              class="footer__title"
              data-toggle="collapse"
              href="#footer-<%= slug %>"
              role="button"
              aria-expanded="false"
              aria-controls="footer-<%= slug %>"
            >
              <%= name %>
            </a>
            <% const subcategories = _.categories.filter(({ parent }) => parent && parent.slug === slug) %>
            <% if (subcategories.length) { %>
              <div class="collapse" id="footer-<%= slug %>">
                <ul class="footer__links">
                  <% subcategories.forEach(subcategory => { %>
                    <li>
                      <a href="/<%= subcategory.slug %>">
                        <%= subcategory.name %>
                      </a>
                    </li>
                  <% }) %>
                </ul>
              </div>
            <% } %>
            </div>
          <% } %>
        <% }) %>
      <% } %>
    </div>
    <hr>
    <div class="row">
      <div id="selos_pagamentos" class="col-12 col-md-7">
        <b>Pagamentos</b>
        <div class="mt-3 mb-3">
          <ul class="list-unstyled" style="display: flex;">
            <li style="padding: 5px"><img height="40px" src="/img/uploads/pag-1.png"></li>
            <li style="padding: 5px"><img height="40px" src="/img/uploads/pag-2.png"></li>
          </ul>
        </div>
      </div>
      <div id="selos_segurancas" class="col-12 col-md-5">
        <b>Segurança</b>
        <div class="footer__stamps">
          <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
        </div>
      </div>
    </div>
  </div>
</footer>
<div id="creditos">
  <div class="footer__credits container">
    <h2 class="footer__title footer__store">
      <img height="64" width="64"  src="/img/uploads/nc-footer.png" alt="NC Extreme">
    </h2>
    <span>
      <%= footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
    </span>
    <button
      id="go-to-top"
      class="btn btn-primary ml-3"
      type="button"
      aria-label="<%= _.dictionary('goToTop') %>"
    >
      <i class="i-chevron-up"></i>
    </button>
  </div> 
</div>

<%- await include('@/layout/inc/ecom-credits') %>
